/* Layout */
.container { width: 100%; padding-top: 97px; height: 100%; }
#content:before,
#content:after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
}
#content:after {
  left: 100%;
}
#sidebar,
#content,
#menu {
  -webkit-transition: .2s all ease;
  -moz-transition: .2s all ease;
  -o-transition: .2s all ease;    
  -ms-transition: .2s all ease;
  transition: .2s all ease;   
  width: 100%;
  padding: 0%;
  display: block; 
  position: relative;
}
.js #sidebar {  
  margin-left: -100%;
  float: left;
  padding-bottom: 25em;
  z-index: 2; 
}
.js #content {
  margin-left: 0;
  float: left;
  z-index: 1;
  position: relative;
}
.js #menu { 
  margin-right: -200%;
  float: left;
  z-index: 2;     
} 
.active-nav #sidebar {  
  margin-left: 0; 
  width: 80%;
}
.active-nav #content{
  margin-right: -100%;
}
.active-nav #menu { 
  margin-right: -100%;
  float: right;   
}
.active-sidebar #sidebar {  
  margin-left: -200%;
}
.active-sidebar #content {
  margin-left: -90%;  
}
.active-sidebar #menu { 
  margin-left: 0;
  width: 90%; 
}
.active-nav #content {
  -webkit-transition: .1s all ease;
  -moz-transition: .1s all ease;
  -o-transition: .1s all ease;    
  -ms-transition: .1s all ease;
  transition: .1s all ease; 
}

aside {
  margin-bottom: 15%;
}


@media all and (min-width: 600px) {
  .js #sidebar {
    width: 30%; 
    margin-left: 0;
  }
  .js #content {
    width: 70%;
    float: left;
  }
  .js #menu {
    width: 20%;
  }       
  .active-sidebar #sidebar {  
    margin-left: -100%;
  }
  .active-sidebar #content {
    margin-left: 0;
    width: 60%;
  }
  .active-sidebar #menu { 
    margin-right: -80%;
    width: 20%;
  }     
}


@media all and (min-width: 800px) {
  .container {
    margin: 0 auto;
  }
  .off-canvas-navigation {
    display: none;
  }     
  
  .js #sidebar {
    width: 25%; 
    margin-left: 0;
    float: left;
    padding: 0%
  }

  .js #content {
    width: 50%;
    padding: 0%;    
  }

  .js #menu {
    width: 25%; 
    padding: 0%;  
    margin-right: 0;
    float: right;
  }         
}
#content{
  overflow-y: auto; overflow-x: hidden;
  background-color: #ecf0f1;
}
.articles{
  padding-bottom: 140px;
  padding-top: 30px;
}
#back{
  background-color: #ecf0f1;
  position: fixed;
  z-index: 20;
}