@media all and (min-width: 600px) {
  /* le slide droit est visible. */
  #right-drawer{
    width: 40%;
    z-index: 11;
     /* on desactive donc l'effet scale */
    -webkit-transform: scale(1,1);
    opacity: 1;
  }
  .popover{
    left: 30%;
  }
  #content{
    width: 60%;
  }

  #toggle-right{
    display: none;
  }
  
  #login{
    top: 30%;
  }
}


/* css pour version tablette */
@media all and (min-width: 800px) {
  /* les slides sont visibles ont désactives donc l'effet scale */

  #right-drawer{
    width: 30%;
    z-index: 11;
     /* on desactive donc l'effet scale */
    -webkit-transform: scale(1,1);
    opacity: 1;
  }
  .popover{
    left: 50%;
  }
  .content{

  }
  #left-drawer{
    width: 25%;
    z-index: 11;
     /* on desactive donc l'effet scale */
    -webkit-transform: scale(1,1);
    opacity: 1;
  }
  #content{
    width: 45%;
    margin-left: 25%;    
  }
  .snap-drawers{
    top: 0px;
  }
  #toggle-left{
    display: none;
  }
  #toggle-right{
    display: none;
  }
}

/* on ajuste la taille de la zone centrale pour la page de login */
#content.login {
  width: 100%;
  margin: 0;
}

.snap-drawer-left li{
  padding-left: 15px;
}
